APP_ENV=development
APP_NAME=NetLogAnalyser
SECRET_KEY=replace-me

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/NetLogAnalyserDB

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000